<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICalendar" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9004/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICalendar" contract="CalendarServiceReference.ICalendar"
                name="BasicHttpBinding_ICalendar" />
        </client>
    </system.serviceModel>
</configuration>