<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PowerShellEntities" connectionString="metadata=res://*/CalendarDBEntities.csdl|res://*/CalendarDBEntities.ssdl|res://*/CalendarDBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sql2014;initial catalog=PowerShell;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="PSCalendarServer.Calendar">
        <endpoint address="" binding="netTcpBinding" contract="PSCalendarContract.ICalendar"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9005/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
